<div>
    <button  class="btn"><a href="https://greets-app.herokuapp.com/listName">
    back
    </a>
</button>
</div>
<h1>A message for greeted name/s</h1>

{{#if personCount}}
<h3>Hello, {{personsName}} has been greeted {{personsCounter}} times</h3>
{{else}}
<h3>Hello, {{personsName}} has been greeted {{personsCounter}} time</h3>
{{/if}}


